
<cdk-virtual-scroll-viewport itemSize="150" class="example-viewport">
    <div *cdkVirtualFor="let item of ds" class="example-item">
      <div class="headline">
        <img class="photoComponent" src={{item.profilePicturePath}} alt="philosophy" width="70" height="70">
        <a routerLink="/news/{{item.id}}" class="name"><h2>{{item.headline}}</h2></a>
        
        
        <div class="date">{{item.date}}</div>
      </div>

      <div class="description">
        <p>{{item.body}}</p>
      </div>
    </div>
</cdk-virtual-scroll-viewport>

