<div class="flex-container">
    <table matSort>
        <tr>
            <th mat-sort-header="title">Exam title</th>
            <th mat-sort-header="date">Date</th>
            <th mat-sort-header="fat">Fat (g)</th>
            <th mat-sort-header="carbs">Carbs (g)</th>
        </tr>
        
        <tr *ngFor="let exam of listOfExams">
            <td>{{exam.name}}</td>
            <td>{{exam.startTime}}</td>
            <td>{{exam.date}}</td>
            <td></td>
            <td><button mat-button color="primary" (click)="checkin(exam.id)" >Check-in</button></td>
            <mat-divider></mat-divider>
        </tr>

    </table>



</div>