
<div>
  <mat-table [dataSource]="dataSource">
    
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    <mat-cell *matCellDef="let student">{{student.id}}</mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let student">{{student.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="jmbg">
      <mat-header-cell *matHeaderCellDef>JMBG</mat-header-cell>
      <mat-cell *matCellDef="let student">{{student.jmbg}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
      <mat-cell *matCellDef="let student">{{student.address}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="studentYears">
    <mat-header-cell *matHeaderCellDef>Student on year</mat-header-cell>
    <mat-cell *matCellDef="let student">{{student.studentYears}}</mat-cell>
</ng-container>

  <ng-container matColumnDef="actionsEdit">
      <mat-header-cell  *matHeaderCellDef > Edit </mat-header-cell>
      <mat-cell *matCellDef="let row" >
           <button mat-raised-button color="primary" >Edit</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actionsDelete">
        <mat-header-cell  *matHeaderCellDef > Delete </mat-header-cell>
        <mat-cell *matCellDef="let row" >
             <button mat-raised-button color="warn" >Delete</button>
        </mat-cell>
      </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

</div>