<div class="flex-panel-container">


    <div [class.mat-elevation-z4]="true">
        <div class="admin-panel-header">
            <p>Students</p>
        </div>
        <mat-divider></mat-divider>
        <div class="admin-panel-content">
            
                 <button routerLink="/students" mat-stroked-button>Overview</button> 
                

                 <button mat-stroked-button>Register new user</button> 
                

                 <button mat-stroked-button>Basic</button> 
                

                
        </div>
    </div>

    <div [class.mat-elevation-z4]="true">
        <div class="admin-panel-header">
            <p>Professors</p>
        </div>
        <mat-divider></mat-divider>
        <div class="admin-panel-content">
             <button routerLink="/admin_panel/professors" mat-stroked-button>Overview</button> 
                

                 <button mat-stroked-button>Register new prof.</button> 
                

                 <button  mat-stroked-button>Basic</button> 
                

            
        </div>
    </div>

    <div [class.mat-elevation-z4]="true">
        <div class="admin-panel-header">
            <p>Users</p>
        </div>
        <mat-divider></mat-divider>
        <div class="admin-panel-content">
             <button routerLink="/users" mat-stroked-button>Overview</button> 
            

             <button mat-stroked-button>Register new user</button> 
            

             <button mat-stroked-button>Basic</button> 
                
        </div>
        

    </div>

    <div [class.mat-elevation-z4]="true">
            <div class="admin-panel-header">
                <p>Courses</p>
            </div>
            <mat-divider></mat-divider>
            <div class="admin-panel-content">
                 <button routerLink="/courses" mat-stroked-button>Overview</button> 
                
    
                 <button routerLink="/newCourse" mat-stroked-button>Add new course</button> 
                
    
                 <button mat-stroked-button>Basic</button> 
                    
            </div>
            
    
        </div>


        <div [class.mat-elevation-z4]="true">
                <div class="admin-panel-header">
                    <p>Organization</p>
                </div>
                <mat-divider></mat-divider>
                <div class="admin-panel-content">
                     <button routerLink="/professors" mat-stroked-button>Overview</button> 
                    
        
                    
        
                     <button mat-stroked-button>Basic</button> 
                        
                </div>
                
        
            </div>

</div>