.flex-panel-container {
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-panel-container > div {
    width: 20vw;
    background-color: rgba(238, 238, 238);
    height: 25vw;
    margin: 1vw;
}

.admin-panel-header {
    padding-left: 0.7vw;
    font-size: 1vw;
}

.admin-panel-content {
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

.admin-panel-content > button {
    width: 12vw;
    height: 2vw;
    font-size: 0.75vw;
    margin-top: 0.45vw;
    margin-bottom: 0.3vw;
}

.table-container {
    padding-left:1vw;
    padding-right:1vw;
    padding-top:0.2vw;
    width: 80%;
    margin:auto;
    position: relative;
    top: 1.5vw;
    background-color:white;margin-top:1vw; padding-bottom:1vw; 
    /*  */
    height: auto;
}
