<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" style="background-color:#3f51b5;">
    <div class="drawer-content" >
      <img src="assets/logo/logo.png" style="width:10vw; height:auto; border-radius: 15%">
      
      <button color="white" style="margin-top: 2vw"mat-button routerLink="/login">Login</button>
      <button color="white" style="margin-top: 2vw"mat-button routerLink="/register">Register</button>
    </div>
    
  </mat-drawer>
  <div class="sidenav-content">

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>

          <span>LMS</span>
          <span class="spacer"></span>
          <button mat-button routerLink="/admin_panel">
            <mat-icon>home</mat-icon>
          </button>

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>publish</mat-icon>
              <span>Share</span>
            </button>

          </mat-menu>

      </mat-toolbar-row>
    </mat-toolbar>
    
  </div>
  
  <div class="table-container"  [class.mat-elevation-z8]="true">
   
    
      <br>
      <router-outlet></router-outlet>
      
  </div>
  
</mat-drawer-container>