<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="drawer-content">
      <p>meni</p>
    </div>
  </mat-drawer>
  <div class="sidenav-content">

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>

          <span>LMS</span>
          <span class="spacer"></span>
          <mat-icon>home</mat-icon>

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>publish</mat-icon>
              <span>Share</span>
            </button>

          </mat-menu>

      </mat-toolbar-row>
    </mat-toolbar>
    
  </div>
  
  <div class="table-container">
      <h1>Admin Panel</h1>
      <app-professors></app-professors>
  </div>
  
</mat-drawer-container>