<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" style="background-color:#3f51b5;" [class.mat-elevation-z5]="true">
    <div class="drawer-content" >
      <img src="assets/logo/logo.png" style="width:10vw; height:auto; border-radius: 15%; margin:0vw;">
      
      <!-- <button *ngIf="(roles.indexOf('ROLE_ADMINISTRATOR') >= 0) || (roles.indexOf('ROLE_ADMINISTRATOR_STAFF') >= 0) || (roles.indexOf('ROLE_PROFESSOR') >=0 ) || (roles.indexOf('ROLE_STUDENT') >=0)"
               color="white" style="margin-top: 2vw"mat-button routerLink="/">Profile</button> -->

      <ng-container *ngIf="isLoggedIn">
        <button mat-button [routerLink]="['edit/'+loggedUserType, loggedUserUsername]" routerLinkActive="active-item">{{loggedUserUsername}}</button>
      </ng-container>
                      
      <button  *ngIf="(roles.indexOf('ROLE_STUDENT') >= 0)" 
      color="white" style="margin-top: 2vw"mat-button routerLink="/studentPortal">Student Portal</button>
      
      <button  *ngIf="(roles.indexOf('ROLE_STUDENT') >= 0)" 
        color="white" style="margin-top: 2vw"mat-button routerLink="/current-courses">Current Courses</button>
      
      <button  *ngIf="(roles.indexOf('ROLE_STUDENT') >= 0)" 
        color="white" style="margin-top: 2vw"mat-button routerLink="/past-courses">Past Courses</button>
        
      <button  *ngIf="(roles.indexOf('ROLE_ADMINISTRATOR') >= 0)" 
                color="white" style="margin-top: 2vw"mat-button routerLink="/register-administrator-staff">Add Adminstrator Staff</button>
      
      <button *ngIf="(roles.indexOf('ROLE_ADMINISTRATOR') >= 0) || (roles.indexOf('ROLE_ADMINISTRATOR_STAFF') >= 0)"
              color="white" style="margin-top: 2vw"mat-button routerLink="/register-student">Add Student</button>
      
      <button *ngIf="(roles.indexOf('ROLE_ADMINISTRATOR') >= 0) || (roles.indexOf('ROLE_ADMINISTRATOR_STAFF') >= 0)" 
              color="white" style="margin-top: 2vw"mat-button routerLink="/register-professor">Add Professor</button>
      
      <button *ngIf="(roles.indexOf('ROLE_ADMINISTRATOR_STAFF') >= 0)" 
              color="white" style="margin-top: 2vw"mat-button routerLink="/enroll-student-to-the-next-year">Enroll student to the next year</button>
    
      <button *ngIf="(roles.indexOf('ROLE_ADMINISTRATOR') >= 0)"
                color="white" style="margin-top: 2vw"mat-button routerLink="/admin_panel">Admin panel</button>
      <button *ngIf="(roles.indexOf('ROLE_ADMINISTRATOR') >= 0)"
                 color="white" style="margin-top: 2vw"mat-button routerLink="/add-study-course">Study Course</button>
      <button *ngIf="(roles.indexOf('ROLE_ADMINISTRATOR_STAFF') >= 0)" 
                  color="white" style="margin-top: 2vw"mat-button routerLink="/add-study-year">Study Year</button>
            
      <ng-container *ngIf="isLoggedIn; else elseTemplate">
          <button style="margin-top: 2vw" mat-button (click)="onLogout()">Logout</button>
      </ng-container>
      <ng-template #elseTemplate>
           <button style="margin-top: 2vw" mat-button routerLink="login">Login</button>
      </ng-template>
            
    </div>
    
  </mat-drawer>
  <div class="sidenav-content">

    <mat-toolbar color="primary" [class.mat-elevation-z5]="true">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>

          <span>LMS</span>
          <span class="spacer"></span>
          <mat-icon routerLink="/" style="cursor: pointer">home</mat-icon>

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu  #menu="matMenu">
            <button *ngIf="(roles.indexOf('ROLE_ADMINISTRATOR') >= 0)" mat-menu-item>
              <mat-icon>add</mat-icon>
              <button 
                color="white" mat-button routerLink="/add-faculty">Add Faculty</button>
   
              </button>

          </mat-menu>

      </mat-toolbar-row>
    </mat-toolbar>
    
  </div>
  
  <div>
    
      <br>
      <router-outlet></router-outlet>
      
  </div>
  
</mat-drawer-container>