<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form (submit)="login(loginForm)" #loginForm="ngForm">
      <mat-form-field >
        <input matInput name="username" ngModel type="text" placeholder="username" #usernameInput="ngModel" required>
        <mat-hint align="end">Hint: email@domain.com</mat-hint>
        <mat-error *ngIf="usernameInput.invalid">Please enter a valid username.</mat-error>
      </mat-form-field>

      <mat-form-field >
          <input matInput name="password" ngModel type="password" placeholder="password" #passwordInput="ngModel" required>
          <mat-hint align="end">Password must contain at least 8 caracters.</mat-hint>
          <mat-error *ngIf="passwordInput.invalid">Incorrect password, try again</mat-error>
        </mat-form-field>
      

        <mat-card-actions>
          <button id="log" mat-raised-button color="primary" type="submit">LOGIN</button>
        </mat-card-actions>
    
    </form>
  </mat-card-content>
</mat-card>