.dayDiv {
    width: 6vw;
    height: 6vw;
    background: rgb(155, 188, 223);
    border: 1px solid white;
    float: left;
}

.textCenter {
    text-align: center;
    vertical-align: middle;
    line-height: 6vw;
}

.today {
    width: 6vw;
    height: 6vw;
    background: #90EE90;
    border: 1px solid white;
    float: left;
}

.dayNameDiv {
    width: 6vw;
    height: 6vw;
    background: rgb(95, 159, 228);
    border: 1px solid white;
    float: left;
}

#calendar-container {
    width: 45vw;
}

.calendar-container {
    margin-top: 10%;
}

.inactive {
    opacity: 0.6;
    pointer-events: none;
}

.invisible {
    visibility: hidden;
}

.center {
    position: absolute;
    left: 32%;
    top: 5%;
}

.left {
    margin: auto;
    text-align: center;
    float: left;
}

.attr {
    float: left;
    width: 6vw;
    height: 6vw;
}

.dayDiv:hover {
	opacity: 0.4;
}

.flex-container {
    display: flex;
  }

